
/*tela de login*/
  body{
      margin-top: 5%;
      margin-left: 7%;
      margin-right: 7%;
      /*background-image: linear-gradient(rgb(255, 255, 255), rgb(53,192,210));
      min-height: 100vh;
      text-align: center;*/
  }
      
  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #00B2FF;
  }
  .titles{
    font-family: Arial, Helvetica, sans-serif;
    color: #00B2FF;
    font-weight: bold !important;
  }
  .loginForm{
    border: 2px solid #00B2FF; /* Cor da borda */
    border-radius: 5px; /* Bordas arredondadas */
  }

  ::placeholder {
    color: #AEAFAF !important; /* Chrome, Safari */
  }

  .imgLogo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .center{
    text-align: center;
  }
 
  .icon{
      height: 20px;
      width: 20px;
  }

  .marginB{
    margin-top: 15px;
    text-align: center;
    
  }
  .myBtn{
    border-radius: 20px !important;
    padding-left: 0px 15px !important;
    background-color: #00B2FF !important;
  }






  .card {
    border-radius: 10px;
    background-color: aliceblue;
    min-height: 80vh;
  }
  .card-header {
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
  }
  .card-body {
    background-color: #ffffff;
    padding: 20px;
  }
  .card-title {
    font-size: 1.25rem;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  .btn-back {
    margin-top: 20px;
  }






  .background_blue{
    background-color: #00B2FF;
  }
  .blue{
    color: #00B2FF;
  }
  .main{
    margin-top: 70px;

  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  background-color: #fdfdfb;
  }