* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}


.container {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.logo {
  width: 100px;
  margin: 0; 
}


h1 {
  color: #00aaff;
  margin-bottom: 10px;
}
h2 {
  color: #00aaff !important;
  margin-bottom: 10px;
}

h3 {
  color: #00aaff;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

label {
  color: #00aaff;
  font-size: 14px;
}

input {
  padding: 10px;
  border: 2px solid #00aaff;
  border-radius: 5px;
  font-size: 14px;
}

button[type="submit"] {
    background: linear-gradient(135deg, #00aaff, #46abdd);
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(6, 25, 138, 0.4); 
    transition: all 0.3s ease;
    font-weight: 500;
  }

button[type="submit"]:hover {
    background: linear-gradient(135deg, #00aaff, #46abdd);
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(6, 25, 138, 0.4);
    color: white !important;
  }

.linha-ou {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.linha-ou hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.linha-ou span {
  margin: 0 10px;
  color: #888;
}

.botoes-opcionais {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opcao {
  border: 2px solid #00aaff;
  background: white;
  color: #00aaff;
  padding: 10px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.opcao:hover {
  background: #e6f7ff;
}

.back-button {
  bottom: 20px;
  left: 20px; 
  cursor: pointer;
  width: 40px;
  height: auto;
  z-index: 1000;
}

select {
padding: 10px;
border: 2px solid #00aaff;
border-radius: 5px;
font-size: 14px;
}


/*jao{

  background-color: #008fcc
}
  */

  .btn-cinza {
    background: linear-gradient(135deg, #3f3852, #423c3c);
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .btn-cinza:hover {
    background: linear-gradient(135deg, #3f3852, #423c3c);
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
  }
  
  .btn-container {
    text-align: center;
    margin-top: 30px;
  }
  
  .titulo-azul {
  color: #007bff !important;
}

  h2.titulo-azul {
  color: #007bff !important;
  text-align: center !important;
  width: 100%;
  display: block;
}
.container h2.titulo-azul {
  color: #007bff !important;
  text-align: center !important;
  width: 100%;
  display: block;
}